body {
    margin: 0;
    padding: 0;
    background-color: #111827;
    font-family: 'Jockey One', sans-serif;
    color: var(--Texto, #FFF);
}

h1, h2 {
    font-weight: 700;
    margin-left: 5px;
}

.value {
    display: none;
}

.navbar p {
    display: none;
}

.Help {
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    padding: 20px;
    margin-top: -10px;
}

.left-container-help,
.right-container-help {
    background-color: #111827;
    padding: 20px;
    border-radius: 17.486px;
    margin-top: 20px;
}

.left-container-help{
    width: 80%; 
}

.right-container-help {
    width: 250px;
}

.show-all-button,
.add-button {
    width: 100%;
    height: 52.458px;
    border-radius: 17.486px;
    background-color: #0059E0;
    color: var(--Texto);
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}


.right-container-help img {
    width: 100%;
    border-radius: 17.486px;
}


.container-help {
    display: flex;
    justify-content: space-around;
}

.blue-container-help a{
    color: #00F5FF;
    text-decoration: none;
}

.white-container-help a{
    color: #fff;
    text-decoration: none;
}

#ul-help {
    list-style: none;
    padding: 0;
}

#ul-help li {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

#img-help {
    margin-right: 10px;
}

.send-button-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}


/* @media queries para ajustar o tamanho das bolhas em telas menores */
@media screen and (max-width: 860px) {
    .container-help {
        flex-wrap: wrap;
    }
    .right-container-help {
        display: none;
    }

    input{
        width: 100%;
    }

    button{
        right: -22px;
    }

}





