body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
}

.navbar{
    position: fixed;
    width: 100%;
}

.navbar img{
    max-width: 90px;
}

.navbar li{
    margin-top: 30px;
}

.navbar p{
    margin-right: 15px;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
/* top-bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.user-info {
    display: flex;
    align-items: center;
    margin-right: 35px;
    margin-bottom: 45px;
}
.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}
.top-bar img {
    max-width: 173px;
    height: auto;
    margin: 20px;
    margin-left: 60px;
}
.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
    margin-left: 0px;
}
.user-text {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.value p{
    background-color: #1F2A3F;
    padding: 6px;
    border-radius: 6px;
    margin-right: 15px;
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 700;
}


/* left-container */
.left-container {
    margin: 35px;
    margin-top: 0px;
    background-color: #1F2A3F;
    width: max-content;
    padding: 40px;
    padding-top: 20px;
    border-radius: 17.486px;
    position: absolute;
    height: -webkit-fill-available;
}

.left-container img {
    max-width: 173px;
    height: auto;
    margin: 20px;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    margin-bottom: 24px;
}
nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav img {
    margin-left: 10px;
}

.nav-item img {
    margin-left: 30px;
    margin-right: 10px;
}
.logout {
    position: absolute;
    bottom: 10px;
}
.logout a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logout img{
    margin-left: 10px;
}

/* Right-container */
.right-container {
    color: white;
    margin-left: 282px;
    margin-right: 25px;
    margin-top: -65px;
    height: 82vh;
    overflow-y: scroll;
}
.right-container a {
    color: #fff;
    text-decoration: none;
}

/* Rights */
.Rights {
    display: flex;
    justify-content: center;
    bottom: 10px;
    color: #8F8F8F;
    font-size: 13.978px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.22px;
    letter-spacing: -0.28px;
    margin-top: 1em;
}

@media (max-width: 768px) {
    .left-container {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 768px) {

    .logo img {
        display: none;
    }
    .right-container {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: -60px;
    }
    .value p{
        display: none;
    }
    
    .user-info {
        margin-top: 80px;
    }
    
}

::-webkit-scrollbar {
    width: 4px; /* Set the width of the scrollbar */
}


::-webkit-scrollbar-thumb {
    background-color: #1f2a3fbb; /* Set the color of the thumb */
    border-radius: 6px; /* Optional: Set border radius for a rounded thumb */
}