{% extends 'master_transactions.html' %}

{% block title %}
  Save Savvy - Transações
{% endblock %}

{% block content %}
  <h1>Transações do Usuário</h1>
  <button onClick="location.href='/transactions/create'" type="button">Criar Transações</button>
  <button onClick="location.href='/transactions/dashboard'" type="button">Dashboard</button>
  <button onClick="location.href='/transactions/accounts'" type="button">Contas</button>
  <p>Lista de transações:</p>
  <table>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Type</th>
      <th>Status</th>
      <th>Account</th>
      <th>Description</th>
      <th>Creation Date</th>
    </tr>
    {% for y in user_transactions %}
    <tr>
      <td><a href="details/{{y.id}}">{{ y.transactionName }}</a></td>
      <td>{{ y.value }}</td>
      <td>{{ y.idType }}</td>
      <td>{{ y.idStatus }}</td>
      <td>{{ y.idTransactionAccount.accountName }}</td>
      <td>{{ y.transactionDescription }}</td>
      <td>{{ y.creationDate }}</td>
    </tr>
  
    {% endfor %}
  </table>
{% endblock %}
