{% extends 'master_transactions.html' %}

{% block title %}
  Save Savvy - Criar Transação
{% endblock %}

{% block content %}
<h1>Criar Transação</h1>
<form method="post">
    {% csrf_token %}
    
    <label for="transactionName">Nome da Transação:</label>
    <input type="text" name="transactionName" id="transactionName" required><br>
    <label for="transactionDescription">Descrição:</label>
    <input type="text" name="transactionDescription" id="transactionDescription" required><br>

    <label for="value">Valor:</label>
    <input type="number" step="0.01" name="value" id="value" required><br>

    <label for="expense">Despesa:</label>
    <input type="checkbox" name="expense" id="expense" checked><br>

    <label for="status">Status:</label>
      <select name="status" id="status">
      <option value="3">Paid</option>
      <option value="4">Not Paid</option>
      <option value="5">Received</option>
      <option value="6">Receivable</option>
      </select><br>

    <label for="category">Categoria:</label>
      <select name="category" id="category">
      <option value="0077b6/home">Home</option>
      <option value="228B22/education">Education</option>
      <option value="leisure">Leisure</option>
      <option value="restaurant">Restaurant</option>
      <option value="health">Health</option>
      <option value="groceries">Groceries</option>
      <option value="transport">Transport</option>
      <option value="clothing">Clothing</option>
      </select><br>

    <label for="account">Conta:</label>
    <select name="account" id="account" required>
        {% for account in user_accounts %}
            <option value="{{ account.id }}">{{ account.accountName }}</option>
        {% endfor %}
    </select><br>

    <label for="creationDate">Data de Criação:</label>
    <input type="date" name="creationDate" id="creationDate" value="{{current_date}}"><br>

    <div id="dueDate-container" style="display: none;">
        <label for="dueDate">Data de Vencimento:</label>
        <input type="date" name="dueDate" id="dueDate" value="{{current_date}}"><br>
    </div>

    <hr>
    
    <label for="repeatable">Repeatable:</label>
    <input type="checkbox" name="repeatable" id="repeatable"><br>

    <div id="repeatability-container" style="display: none;">
      <label for="repeatability">Repeatability:</label>
      <select name="repeatability" id="repeatability">
          <option value="2">Daily</option>
          <option value="3">Weekly</option>
          <option value="4">Monthly</option>
          <option value="5">Annualy</option>
          <option value="7">Specific</option>
      </select><br>

      <label for="indefinite">Indefinite:</label>
      <input type="checkbox" name="indefinite" id="indefinite"><br>
      
      <div class="repeatability-quantity" style="display:block">
        <label for="repeatable_quantity">Repeatable Quantity:</label>
        <input type="number" name="repeatable_quantity" id="repeatable_quantity" value=1><br>
      </div>
      
      <div class="specific-repeatability" style="display: none;">
        <label for="repeatability-date">Specific Date:</label>
        <input type="number" name="repeatability-date" id="repeatability-date"><br>
      </div>
  </div>

    <input type="submit" value="Salvar">
</form>
<p>Voltar para as <a href="/transactions/">transações</a></p>

<script>
  // Status checkbox treatment
  var expenseCheckbox = document.getElementById('expense');
  var StatusSelect = document.getElementById('status');
  
  function updateStatusOptions() {
    
      if (expenseCheckbox.checked) {
          // Show options with values 3 and 4
          for (var i = 0; i < StatusSelect.options.length; i++) {
              var option = StatusSelect.options[i];
              if (option.value == '3' || option.value == '4') {
                  option.style.display = 'block';
              } else {
                  option.style.display = 'none';
              }
          }
      } else {
          // Show options with values 5 and 6
          for (var i = 0; i < StatusSelect.options.length; i++) {
              var option = StatusSelect.options[i];
              if (option.value == '5' || option.value == '6') {
                  option.style.display = 'block';
              } else {
                  option.style.display = 'none';
              }
          }
      }
      
      // Select the first visible option
      for (var i = 0; i < StatusSelect.options.length; i++) {
          if (StatusSelect.options[i].style.display !== 'none') {
              StatusSelect.selectedIndex = i;
              break;
          }
      }

      
  }
  
  expenseCheckbox.addEventListener('change', updateStatusOptions);
  // Initial update based on the checkbox state
  updateStatusOptions();

  const dueDateContainer = document.getElementById("dueDate-container")

  function dueDateVisibility(){
    if (StatusSelect.value == '4' || StatusSelect.value == '6') {
        dueDateContainer.style.display = "block";
    } else
    dueDateContainer.style.display = "none";
  }

  StatusSelect.addEventListener('change', dueDateVisibility);


  //-----------------------------

  // Repatable
  // Get references to the elements
  const repeatableCheckbox = document.getElementById("repeatable");
  const repeatabilitySelect = document.getElementById("repeatability");
  const specificRepeatability = document.querySelector(".specific-repeatability");
  const repeatabilityQuantity = document.querySelector(".repeatability-quantity");
  const indefiniteCheckBox = document.getElementById("indefinite");

  indefiniteCheckBox.addEventListener("change", function () {
    if (this.checked){
        repeatabilityQuantity.style.display = "none";
    }
  });

  // Add an event listener to the repeatable checkbox
  repeatableCheckbox.addEventListener("change", function () {
    if (this.checked) {
      // If the checkbox is checked, show the repeatability-container
      document.getElementById("repeatability-container").style.display = "block";
    } else {
      // If the checkbox is unchecked, hide the container and specific-repeatability
      document.getElementById("repeatability-container").style.display = "none";
      specificRepeatability.style.display = "none";
    }
  });

  // Add an event listener to the repeatability select
  repeatabilitySelect.addEventListener("change", function () {
    if (this.value === "7") {
      // If "Specific" is selected, show the specific-repeatability
      specificRepeatability.style.display = "block";
    } else {
      // If any other option is selected, hide the specific-repeatability
      specificRepeatability.style.display = "none";
    }
  });

  // Add an event listener to the indefinite checkbox
  indefiniteCheckBox.addEventListener("change", function () {
    if (this.checked) {
      // If the checkbox is checked, hide the repeatabilityQuantity input
      repeatabilityQuantity.style.display = "none";
    } else {
      // If the checkbox is unchecked, show the repeatabilityQuantity input
      repeatabilityQuantity.style.display = "block";
    }
  });

  // Initial updates based on the selected options
  updateStatusOptions();
  toggleDueDateVisibility();
</script>

{% endblock %}
