{% extends 'master_transactions.html' %}

{% block title %}
  Save Savvy - Criar Conta
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 4.2em;">
  <div class="card rounded p-4" style="background-color: #1F2A3F; color: white; position: unset;">
    <h1 class="font-weight-bold">Create Account:</h1>
    <h6 class="font-weight-bold">Are you sure you want to delete the transaction?</h6>
    
    <div class="row">
      <form method="post" class="col-md-6">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="account_name">Nome da Conta:</label>
          <input type="text" class="form-control" name="account_name" id="account_name" required>
        </div>

        <div class="form-group">
          <label for="account_color">Cor da Conta:</label>
          <input type="color" class="form-control" name="account_color" id="account_color" value="#00F5FF">
        </div>
    
        <div class="form-group">
          <label for="account_type">Tipo:</label>
          <select class="form-control" name="account_type" id="account_type">
            <option value="1">Wallet</option>
            <option value="2">Debito</option>
            <option value="3">Credito</option>
          </select>
        </div>
    
        <div id="dateFields" style="display: none;">
          <div class="form-group">
            <label for="account_billCloseDate">Dia de fechamento da fatura:</label>
            <input type="number" class="form-control" step="1" name="account_billCloseDate" id="account_billCloseDate">
          </div>
          
          <div class="form-group">
            <label for="account_billDueDate">Dia de vencimento da fatura:</label>
            <input type="number" class="form-control" step="1" name="account_billDueDate" id="account_billDueDate">
          </div>
        </div>
    
        <button class="btn btn-primary mt-3" type="submit">Save</button>
      </form>
    </div>
    
    <div class="row mt-3">
      <div class="col-md-6">
        <button class="btn btn-info btn-block btn-sm" onclick="location.href='/transactions/accounts/'" type="button">Back to Account Management</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.getElementById('account_type').addEventListener('change', function() {
        var selectedValue = this.value;
        var dateFieldsContainer = document.getElementById('dateFields');
      
        // Check the selected value and toggle visibility of the container
        if (selectedValue === '3') { // Credito
          dateFieldsContainer.style.display = 'block';
        } else {
          dateFieldsContainer.style.display = 'none';
        }
      });
</script>

{% endblock %}
