{% extends 'master_transactions.html' %}

{% block title %}
  Save Savvy - Dashboard
{% endblock %}

{% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/dashboard/styles.css' %}" />
  </head>

  <body>
    <h1 style="
    margin-bottom: 0px;
"><t>Dashboard</t></h1>
    <div class="dashboard" style="
    padding-top: 0px;
">
      <div class="left-container-db">
        <div class="bubbles">
          <div class="bubble">
            Monthly expenses<br /><d>R$ {{ monthly_expense }}</d>
          </div>
          <div class="bubble">
            Monthly earnings<br /><d>R$ {{ monthly_income }}</d>
          </div>
          <div class="bubble">
            Monthly Balance<br /><d>R$ {{ monthly_balance }}</d>
          </div>
          <div class="bubble">
            Total Balance<br /><d>R$ {{ total_balance }}</d>
          </div>
        </div>
        <h2>Graphs</h2>
        <div class="graphs-container">
          <!-- Graficos -->
          <img src="https://www.jaspersoft.com/sites/jaspersoft/files/2023-09/pie-chart-example.svg">
        </div>
      </div>
      <div class="right-container-db">
        <img src="{% static '/dashboard/ads.jpeg' %}" alt="Ads" />
        <h2>Reminders</h2>
        <div class="reminders">
          <!-- Conteúdo das bolhas de lembretes aqui -->
        </div>
        <button class="add-button"><img src="{% static '/dashboard/adicionar.svg' %}" alt="Add" /></button>
      </div>
    </div>
  </body>
{% endblock %}
