{% extends 'master_transactions.html' %}

{% block title %}
  Error Finances - Detalhes
{% endblock %}

{% block content %}
  <h1>Usuário: {{ transaction.user.first_name }}</h1>

  <p>Transação: {{ transaction.transactionName }}</p>
  <p> Valor: R$ {{ transaction.value }}
  <button onclick="location.href='/transactions/edit/{{transaction.id}}'" type="button">Editar</button>
  <button onclick="location.href='/transactions/delete/{{transaction.id}}'" type="button">Deletar</button>
  <p>Voltar para as <a href="/transactions">transações</a></p>
{% endblock %}
