body {
    margin: 0;
    padding: 0;
    background-color: #111827;
    font-family: 'Jockey One', sans-serif;
    color: var(--Texto, #FFF);
}

h1, h2 {
    text-align: justify;
    font-weight: 700;
    margin-left: 5px;
}

t{
    margin-left: 40px;
}
.dashboard {
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    margin-top: -10px;
}

.left-container-allbills{
    background-color: #111827;
    padding: 20px;
    border-radius: 17.486px;
    margin-top: 20px;
}

.left-container-allbills{
    width: 100%; 
}

.bubbles {
    display: flex;
    justify-content: space-between;
}

.bubble {
    background-color: #1F2A3F;
    border-radius: 17.486px;
    text-align: left;
    width: 26%;
    font-weight: 1000;
    line-height: 39.612px;
    letter-spacing: -0.262px;
    font-size: 15px;
    padding: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.search-button {
    background-color: #1F2A3F;
    border: none;
    width: 3em;
    border-radius: 17.486px;
    
}

.bubble d {
    font-weight: 785;
    height: 80px;
    font-size: 36px;
}

.bubble input,
.bubble select {
    background-color: transparent;
    border: none;
    color: #999;
    font-size: 13.989px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.612px;
    letter-spacing: -0.28px;
    width: calc(100% - 25px); /* Ajusta a largura para dar espaço ao ícone */
    margin-bottom: 10px; /* Adicione espaçamento entre os campos */
}

.bubble img {
    width: 20px; /* Ajusta o tamanho do ícone conforme necessário */
    height: auto;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); /* Centraliza verticalmente o ícone */
}


.bubblesh {
    background-color: #1F2A3F;
    border-radius: 17.486px;
    text-align: left;
    width: 26%;
    font-weight: 1000;
    line-height: 39.612px;
    letter-spacing: -0.262px;
    font-size: 15px;
    padding: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.bubblesh d {
    font-weight: 785;
    height: 80px;
    font-size: 36px;
}

.bubblesh input,
.bubblesh select {
    background-color: transparent;
    border: none;
    color: #999;
    font-size: 13.989px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.612px;
    letter-spacing: -0.28px;
    width: calc(100% - 25px); /* Ajusta a largura para dar espaço ao ícone */
    margin-bottom: 10px; /* Adicione espaçamento entre os campos */
}

.bubblesh img {
    width: 20px; /* Ajusta o tamanho do ícone conforme necessário */
    height: auto;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); /* Centraliza verticalmente o ícone */
}

.show-all-button,
.add-button {
    width: 190px;
    height: 52.458px;
    border-radius: 17.486px;
    background-color: #0059E0;
    color: var(--Texto);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.add-button img {
    height: 25px; 
}


.reminders {
    max-height: 88.305px;
    overflow-y: auto;
    margin-top: 10px;
}

.reminders .reminder {
    background-color: #1F2A3F;
    width: 180.981px;
    height: 88.305px;
    border-radius: 17.486px;
    margin-bottom: 10px;
}

.reminders .reminder:last-child {
    margin-bottom: 0;
}

/*All transactions list*/
#list-container {
    background-color: #111827;
    color:#FFF;
    margin-left: 0;
    margin-top: 1em;
    
}

#list-item {
    background-color: #1F2A3F;
    border-radius: 15px;
    color:#FFF;
    height: 4.5em;
    margin-bottom: 0.75em;
}

.col {
    overflow: hidden;
}

#icon {
    border-radius: 50%; font-size: 35px;
}

.title {
    margin: 0;
    padding: 0;
    font-size: x-large;
    font-weight: 600;
    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline-block;
}

.info {
    margin: 0;
    padding:0;
    font-size: small;
    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline-block;
}

.value {
    margin: 0;
    padding: 0;
    font-size:medium;
    font-weight: 600;
}

#value-col {
    min-width: 7em;
}

.status {
    margin: 0;
    padding: 0;
}

.creationDate {
    font-size: xx-small;
    padding: 0;
    margin-bottom: 0;
}



@media (max-width: 768px) {
    .bubbles {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .bubble {
        margin-top: 20px;
    }

    .bubblesh {
        width: 100%;
        padding-top: 17px;
    }

    .search-button {
        margin-top: 20px;
    }
    
    .add-button {
        width: 30%;
        margin-top: 20px;
    }

    .title {
        font-size: medium;
        margin-top: 1em;
    }
}



