body {
    margin: 0;
    padding: 0;
    background-color: #111827;
    font-family: 'Jockey One', sans-serif;
    color: var(--Texto, #FFF);
}

h1, h2 {
    font-weight: 700;
    margin-left: 5px;
}

t{
    margin-left: 40px;
}
.Help {
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    padding: 20px;
    margin-top: -10px;
}

.left-container,
.right-container {
    background-color: #111827;
    padding: 20px;
    border-radius: 17.486px;
    margin-top: 20px;
}

.left-container{
    width: 80%; 
}

.right-container {
    width: 250px;
}

.latest-bills{
    background-color: #1F2A3F;
    border-radius: 17.486px;
}

.latest-bills table {
    width: 100%;
    color: var(--Texto);
    border-collapse: collapse;
    margin-top: 20px;
}

.latest-bills th,
.latest-bills td {
    border: 1px solid var(--Texto);
    padding: 10px;
    text-align: left;
}

.show-all-button,
.add-button {
    width: 100%;
    height: 52.458px;
    border-radius: 17.486px;
    background-color: #0059E0;
    color: var(--Texto);
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.add-button img {
    height: 25px; 
}

.right-container img {
    width: 100%;
    border-radius: 17.486px;
}

.reminders {
    max-height: 88.305px;
    overflow-y: auto;
    margin-top: 10px;
}

.reminders .reminder {
    background-color: #1F2A3F;
    width: 180.981px;
    height: 88.305px;
    border-radius: 17.486px;
    margin-bottom: 10px;
}

.reminders .reminder:last-child {
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.blue-container a{
    color: #00F5FF;
    text-decoration: none;
}

.white-container a{
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

img {
    margin-right: 10px;
}

.send-button-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

input {
    width: calc(100% - 60px);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: #1F2A3F;
}

button {
    position: absolute;
    right: 38px;
    bottom: 20px;
    width: 140px;
    height: 50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #00F5FF;
    color: #111827;
    font-weight: 600;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00e6e6;
}



/* @media queries para ajustar o tamanho das bolhas em telas menores */
@media screen and (max-width: 860px) {
    .container {
        flex-wrap: wrap;
    }
    .right-container {
        display: none;
    }

    input{
        width: 100%;
    }

    button{
        right: -22px;
    }

}





