{% extends 'master_transactions.html' %}

{% block title %}
  Save Savvy - Settings
{% endblock %}

{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "/settings-page/styles.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body id="settings-page">
    <h1 style="margin-bottom: 0px;"><t>Settings</t></h1>
    <div class="Container-st">
        <div class="left-container-st">
            <h2>Options</h2>
            <a href="/transactions/accounts/"><Cbutton>Accounts</Cbutton></a>
            <h4>Currency</h4>
            <div class="text-bubble">
                <span class="input-icon black-icon"><i class="fas fa-dollar-sign"></i></span>
                <a>BR (R$)</a>
            </div>
            <h4>Language</h4>
            <div class="text-bubble">
                <span class="input-icon black-icon"><i class="fas fa-language"></i></span>
                <a>English (EN)</a>
            </div>
            <h2>Password</h2>
            <h4>Change password</h4>




            <div class="input-group">
                <div class="input-bubble">
                    <span class="input-icon black-icon"><i class="fas fa-lock"></i></span>
                    <input type="password" name="password" id="password" placeholder="Your password"/>
                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                </div>
            </div>

            <div class="input-group">
                <div class="input-bubble">
                    <span class="input-icon black-icon"><i class="fas fa-lock"></i></span>
                    <input type="password" name="npassword" id="npassword" placeholder="New password"/>
                    <i class="bi bi-eye-slash" id="togglePassword1"></i>
                </div>
            </div>

            <div class="input-group">
                <div class="input-bubble">
                    <span class="input-icon black-icon"><i class="fas fa-lock"></i></span>
                    <input type="password" name="rnpassword" id="rnpassword" placeholder="Repeat new password"/>
                    <i class="bi bi-eye-slash" id="togglePassword2"></i>
                </div>
            </div>

            <h2>Account</h2>

            <div class="delete-bubble">
                <span class="input-icon white-icon"><i class="fas fa-trash"></i></span>
                <a>Delete account</a>
            </div>
        </div>
        <div class="right-container-st">
            <div class="user-avatar-settings"> <img src="{% static "/settings-page/user-avatar.jpg" %}" alt="Foto do Usuário" /> </div>
            <div class="buttons">
                <Cbutton>Change photo</Cbutton>
                <Rbutton>Remove photo</Rbutton>
            </div>
        </div>
    </div>


    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        const togglePassword1 = document.querySelector("#togglePassword1");
        const npassword = document.querySelector("#npassword");

        togglePassword1.addEventListener("click", function () {
        // toggle the type attribute
         const type = npassword.getAttribute("type") === "password" ? "text" : "password";
         npassword.setAttribute("type", type);
        
        // toggle the icon
        this.classList.toggle("bi-eye");
    });

        const togglePassword2 = document.querySelector("#togglePassword2");
        const rnpassword = document.querySelector("#rnpassword");

        togglePassword2.addEventListener("click", function () {
        // toggle the type attribute
         const type = rnpassword.getAttribute("type") === "password" ? "text" : "password";
         rnpassword.setAttribute("type", type);
        
        // toggle the icon
        this.classList.toggle("bi-eye");
    });    
    </script>

</body>

</html>
{% endblock %}